:root {
    --primary-dark: #262d35;
    --text-light: #ffffff;
    --bg-light-gray: #f0f0f0;
    --bg-light-brown: #ffba8d;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
}

.top-header {
    background-color: var(--primary-dark);
    color: var(--text-light);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--bg-light-brown);
    flex-shrink: 0;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
    color: var(--bg-light-brown);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
    color: var(--bg-light-brown);
    transform: scale(1.15);
}

.contact-info {
    font-weight: 600;
    font-size: 0.9rem;
}

.contact-info i {
    margin-right: 8px;
    color: var(--bg-light-brown);
}

.hero-section {
    display: flex;
    min-height: 550px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('Img/dog-img.jpg');
    background-size: cover;
    background-position: center 23%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.hero-content {
    flex: 1;
    padding: 100px 5% 0 10%;
    z-index: 2;
    max-width: 600px;
}

.hero-title {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: var(--text-light);
    margin: 0;
    line-height: 1.2;
}

.hero-subtitle {
    font-size: 2.8rem;
    color: var(--bg-light-brown);
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    font-family: 'Dancing Script';
}

.btn-appointment {
    background-color: var(--bg-light-brown);
    color: var(--primary-dark);
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.btn-appointment:hover {
    background-color: var(--text-light);
}

.btn-appointment i {
    margin-left: 10px;
}

.hero-image-container {
    display: none;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 3;
}

.after-hero {
    background-color: var(--primary-dark);
    height: 60px;
    width: 100%;
    overflow: hidden; 
    border-top: 4px solid var(--bg-light-brown);
    border-bottom: 4px solid var(--bg-light-brown);
    display: flex; 
    margin: 0;
    position: relative;
    z-index: 10;
    flex-shrink: 0;
}

.marquee-track {
    display: flex;
    width: fit-content; 
    animation: scroll-loop 20s linear infinite;
}

.marquee-items {
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    padding-right: 50px;
    gap: 50px; 
}

.marquee-items span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    color: var(--text-light);
    display: flex;
    align-items: center;
    gap: 10px; 
    white-space: nowrap;
}

.marquee-items span i {
    color: var(--bg-light-brown);
    font-size: 1rem;
}

@keyframes scroll-loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.features-section {
    /*background: linear-gradient(to bottom, var(--bg-light-brown) 130px, var(--primary-dark) 130px);*/
    background-color: var(--primary-dark); 
    color: var(--text-light);
    padding: 0 5% 80px 5%;
    position: relative;
    z-index: 5; 
}

.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px; 
    position: relative;
    z-index: 20; 
}

.feature-card {
    display: flex;
    flex-direction: column;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 250px; 
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.img-wrapper:hover img {
    transform: scale(1.05);
}

.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
}

.play-overlay i {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.feature-card h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
}

.feature-card p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #cccccc;
    margin: 0;
}

.info-footer {
    max-width: 1200px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--bg-light-brown); 
    padding-top: 40px;
}

.info-footer p{
    margin: 0; 
    font-size: 0.85rem;
    color: #cccccc;
}

.btn-see-more {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn-see-more:hover {
    background-color: #fff;
    color: var(--primary-dark);
}


@media (max-width: 768px) {
    .features-container {
        margin-top: 0; 
        padding-top: 40px;
        gap: 30px;
    }
    
    .footer {
        justify-content: center; 
    }
}

@media (max-width: 768px) {
    .top-header, .hero-section {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        margin: 20px 0;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hero-content {
        padding: 10px 5%;
        max-width: 50%;
    }
    .hero-title {
        font-size: 3.5rem;
    }
    .nav-arrow { display: none; 
    }
    .nav-links {
    list-style: none;
    display: flex;
    gap: 26px;
    padding: 5px;
    margin: 0;
    }

    .btn-see-more {
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
    }
}